body, html {
    font-family: 'Courier New';
    font-size: 30px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.outer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    border: black 1px solid;
}

.inner {
    border: blue 2px solid;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;;
}